  body{
    background-color: #555555;
  }
  *{
   list-style: none;
   padding:0;
   margin:0;
   text-decoration:none;
   list-style:none;
   box-sizing: border-box;
}
header{
    font-family: sans-serif;
    width:100%;
      
}
main{
    background-color:#555555 ;
}
.nav{
    background:#303030;
    height:80px;
    width:100%;
}
.nav ul{
    float:right;
    margin-right: 20px;
}
.nav ul li {
       display: inline-block;
       line-height: 80px;
       margin:0 5px;

}
.nav ul li a{
    text-shadow: 0 2px 4px rgba(255, 0, 0, 0.897),
    0 8px 16px rgba(255, 0, 0, 0.700);
    color:white;
    font-size:17px;
    padding:7px 13px;
    border-radius: 3px;
    text-transform:uppercase;
    font-weight: bold;
}
a.active, a:hover {
    background: #ff0000ec;
    transition: .5s;
}

main{
    text-align: center;
    font-size: 1.5em;
    padding-top:100px;
   
    width:100%;
}
#home{
     padding-bottom:100px;
}
#home .text{
    color:white;
    vertical-align: sub;
    height:4em;
    overflow:hidden;
    display:inline-block;
    line-height:2em;
    margin-left:-100px;
    margin-top: 150px;
    margin-right:0;
}
#home .imghome{
    margin-top: 20px;
    float:right;
    border-radius: 1000px;
    width:300px;
    height:300px;
    margin-left: 0;
    top: 50px;
    margin-right:100px;
    padding:0;
    border:15px outset #ff0000ec;
    margin-bottom:0;
    padding-bottom: 0; 
    box-shadow: 0 2px 4px rgba(255, 0, 0, 0.897),
      0 8px 16px rgba(255, 0, 0, 0.700);
}
.imghome {
    transition:transform .5s ;
   
}
.imghome:hover{
    transform:scale(1.2);
}

.name{
   text-shadow: 0 2px 4px rgba(255, 0, 0, 0.897),
   0 8px 16px rgba(255, 0, 0, 0.700);
   color:white;
   float: right;
   margin:320px -280px 0 0;
   font-family: sans-serif;
   font-weight: bold;
}
#imghome .name{
    position: relative;
}
.text ul {
    font-family: sans-serif;
    font-weight: bold;
    animation:animation 15s infinite;
    margin-top:-0.55;
    list-style:none;

}
@keyframes animation {
    0%{ margin-top: -0.55em;}
    12.5%{ margin-top: -2.54em;}
    25%{ margin-top: -4.55em;}
    37.5%{ margin-top: -6.55em;}
    50%{ margin-top: -8.5em;}
    62.5%{ margin-top: -6.55em;}
    75%{ margin-top: -4.55em;}
    87.5%{ margin-top: -2.54em;}
    100%{ margin-top: -0.55em;}
}
#knowledge{
    box-sizing:border-box;
    margin:100px 300px 400px 300px;
    position:relative;
    font-family: sans-serif;
    font-weight: bold;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(255, 0, 0, 0.897),
    0 8px 16px rgba(255, 0, 0, 0.700);
    max-width: 750px;
    width: 100%;
    
}
.stats{
    width:100%;
    background:#ddd;
    margin:10px;
}
.percentage{
    text-align:left;
    padding:10px 0 10px 0;
    color:#ff0000ec;
}
.html{width:0%; background-color:rgb(255, 60, 0);}
.css{width:0%; background-color:rgb(0, 81, 255);}
.js{width:0%; background-color:rgb(251, 255, 0);}
.py{width:0%; background-color:rgb(0, 255, 98);}
.html:hover{width:90%; background-color:rgb(255, 60, 0);}
.css:hover{width:80%; background-color:rgb(0, 81, 255);}
.js:hover{width:60%; background-color:rgb(251, 255, 0);}
.py:hover{width:15%; background-color:rgb(0, 255, 98);}

.intro{
    text-shadow: 0 2px 4px rgba(255, 255, 255, 0.897),
    0 8px 16px rgba(255, 255, 255, 0.7);
    color:#ff0000ec;
    padding-bottom: 2px;
    border-bottom: 1px solid #ff0000ec;
    font-family: sans-serif;
    font-weight: bold;
    width: 100%;
    text-align:left;
}
.mystats{
    text-shadow: 0 2px 4px rgba(255, 255, 255, 0.897),
    0 8px 16px rgba(255, 255, 255, 0.7);
    margin-top:250px;
    color:#ff0000ec;
    padding-bottom: 2px;
    border-bottom: 1px solid #ff0000ec;
    font-family: sans-serif;
    font-weight: bold;
    width: 100%;
    text-align:left;
}
 #knowledge .mystats{
    position:relative;
 }
 #anime{
    box-sizing:border-box;
    margin:100px 300px 400px 300px;
    position:relative;
    font-family: sans-serif;
    font-weight: bold;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(255, 0, 0, 0.897),
      0 8px 16px rgba(255, 0, 0, 0.700);
    max-width: 750px;
    width: 100%;
    height:100%;
 }
 #sketch{
    box-sizing:border-box;
    margin:100px 300px 400px 300px;
    position:relative;
    font-family: sans-serif;
    font-weight: bold;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(255, 0, 0, 0.897),
    0 8px 16px rgba(255, 0, 0, 0.700);
    max-width: 750px;
    width: 100%;
 }
#bball{
    box-sizing:border-box;
    margin:100px 300px 400px 300px;
    position:relative;
    font-family: sans-serif;
    font-weight: bold;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(255, 0, 0, 0.897),
    0 8px 16px rgba(255, 0, 0, 0.700);
    max-width: 750px;
    width: 100%;
 }
 .hobbies{
    text-shadow: 0 2px 4px rgba(255, 255, 255, 0.897),
    0 8px 16px rgba(255, 255, 255, 0.7);
    margin-top:250px;
    color:#ff0000ec;
    padding-bottom: 2px;
    border-bottom: 1px solid #ff0000ec;
    font-family: sans-serif;
    font-weight: bold;
    width: 100%;
    text-align:left;
 }
 #hanime{
    text-shadow:0 2px 4px rgba(255, 0, 0, 0.897),
    0 8px 16px rgba(255, 0, 0, 0.700);
    font-family: sans-serif;
    font-weight: bold;
    color:white;
 }
 #hsketch{
    text-shadow: 0 2px 4px rgba(255, 0, 0, 0.897),
    0 8px 16px rgba(255, 0, 0, 0.700);
    font-family: sans-serif;
    font-weight: bold;
    color:white;
 }
 #hbball{
    text-shadow: 0 2px 4px rgba(255, 0, 0, 0.897),
    0 8px 16px rgba(255, 0, 0, 0.700);
    font-family: sans-serif;
    font-weight: bold;
    color:white;
 }
 input[type='text'],input[type=émail]{
    border:1px solid #ff0000ec;
    width:150px;
    padding:5px;
    margin-bottom:5px;
}
textarea{
    border: 1px solid #ff0000ec;
    width:203px;
    padding:5px;
    margin-bottom:5px;
}
label{
    font-weight:bold;
    color: #ff0000ec;
}
input[type="submit"]{
    background-color:#ff0000ec;
    border:outset;
    border-radius:7px;
    padding:7px 15px;
    font-weight:bold;
    color:#eeeeee;
    margin-bottom:7px;
    box-shadow: 0 2px 4px rgba(255, 0, 0, 0.897),
    0 8px 16px rgba(255, 0, 0, 0.700);
}
input[type="submit"]:hover{
    background-color:white;
    border:inset;
    border-radius:7px;
    padding:7px 15px;
    font-weight:bold;
    color:#ff0000ec;
    margin-bottom:7px;
    box-shadow: 0 2px 4px rgba(255, 0, 0, 0.897),
    0 8px 16px rgba(255, 0, 0, 0.700);
}
#copyright{
    text-shadow: 0 2px 4px rgba(255, 0, 0, 0.897),
    0 8px 16px rgba(255, 0, 0, 0.700);
    color:white;
    font-family: sans-serif;
    font-weight: bold;
    text-align:center;
}
section,footer{
    padding: 2px 10px;
}
#links{
    margin:0px;
}
footer{
    background-color: #303030;
}
#links li b{
    color:#ff0000ec;
}
#links li{
    margin-bottom:5px;
    list-style-type: disc;
}
footer a{
    text-shadow: 0 2px 4px rgba(255, 255, 255, 0.897),
    0 8px 16px rgba(255, 255, 255, 0.7);
    color:#ff0000ec;
    text-decoration:none;
    font-family: sans-serif;
    font-weight: bold;
}
footer a:hover{
    text-decoration:underline;
}
#contacts{
    text-shadow: 0 2px 4px rgba(255, 255, 255, 0.897),
    0 8px 16px rgba(255, 255, 255, 0.7);
    margin-top:250px;
    color:#ff0000ec;
    padding-bottom: 2px;
    border-bottom: 1px solid #ff0000ec;
    font-family: sans-serif;
    font-weight: bold;
    width: 100%;
    text-align:left;
 }
 #cforming{
    background-color: #303030;
    box-sizing:border-box;
    margin:100px 300px 300px 300px;
    position:relative;
    font-family: sans-serif;
    font-weight: bold;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(255, 0, 0, 0.897),
      0 8px 16px rgba(255, 0, 0, 0.700);
    max-width: 750px;
    width: 100%;
 }
 #cform{
    color:white;
    text-shadow: 0 2px 4px rgba(255, 0, 0, 0.897),
    0 8px 16px rgba(255, 0, 0, 0.700);
    font-family: sans-serif;
    font-weight: bold;
 }
#anime video{  
    width:100%;
    height:100%;
}
#sketch video{
    width:100%;
    height:100%;
}
#bball video{
    width:100%;
    height:100%;
}
#ACC{
    text-shadow: 0 2px 4px rgba(255, 0, 0, 0.897),
    0 8px 16px rgba(255, 0, 0, 0.700);
    color:white;
    font-family: sans-serif;
    font-weight: bold;
}
#hob{
    width:100%;
    height:100%;
}
#certify{
    box-sizing:border-box;
    margin:100px 300px 300px 300px;
    position:relative;
    font-family: sans-serif;
    font-weight: bold;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(255, 0, 0, 0.897),
      0 8px 16px rgba(255, 0, 0, 0.700);
    max-width: 750px;   
    width: 100%;
}
#certificate{
    text-shadow: 0 2px 4px rgba(255, 0, 0, 0.897),
    0 8px 16px rgba(255, 0, 0, 0.700);
    color:white;
    font-family: sans-serif;
    font-weight: bold;
}
#certipics{
    box-sizing:border-box;
    margin:100px 300px 0px 0px;
    position:relative;
    font-family: sans-serif;
    font-weight: bold;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(255, 0, 0, 0.897),
      0 8px 16px rgba(255, 0, 0, 0.700);
    max-width: 750px;
    width: 100%;
   
}
#sheeshable{
    color:white;
    font-style: italic;
    font-family: sans-serif;
    background-color:#ff0000ec;
    text-decoration: none;
    font-weight:bold;
    animation-name:blackwhite;
    animation-duration:3s;
    animation-timing-function: ease-in;
    animation-delay:1s;
    animation-iteration-count:infinite;
    animation-direction: reverse;
}
@keyframes blackwhite {
    0%{
        border: outset;
        background-color:white;
        color:#ff0000ec;
        text-shadow: 0 2px 4px rgba(255, 0, 0, 0.897),
        0 8px 16px rgba(255, 0, 0, 0.700);
       
    }
    100%{
        border: inset;
        background-color: #ff0000ec;     
        color:white;
        text-shadow: 0 2px 4px rgba(255, 255, 255, 0.897),
        0 8px 16px rgba(255, 255, 255, 0.7);
        }
}
#pl{
    text-shadow: 0 2px 4px rgba(255, 0, 0, 0.897),
    0 8px 16px rgba(255, 0, 0, 0.700);
    color:white;
}